export(align_quotes)
export(arb_plots)
export(clean_quotes)
export(consec_dups)
export(has_header)
export(load_from_csv)
export(lookahead_medians)
export(lookback_medians)
export(outliers)
export(profit_table)
